.hero{
    img src:"5.png";
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 500px;

}
body{
    background-color:dimgray;
}
div{
    background-color:gray;
}